<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROJECT_UUID</key>
	<string>d492420c-1208-4ca5-8e46-cd35e28e0e0b</string>
	<key>PROJECT_CLIENT_KEY</key>
	<string>cW7F6aqomWwZ2pfllHJmvIBfxgFbEFjMXOmBqt9B</string>
	<key>PROJECT_APP_UUID</key>
	<string>d659f68c-20b1-4a34-822c-ae6e8625a2ff</string>
</dict>
</plist>
